<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Digyhomeschooling</title>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.png" />
</head>

<body>

    <div class="logins">
        <div class="row no-gutters">
            <div class="col">
                <div class="container mt-4">
                    <div class="logo">
                        <img src="assets/img/logo.png" width="150" alt="">
                    </div>

                    <div class="login-box">
                        <h5>Log-In</h5>
                        <% if (messages.error) { %>
                        <div class="alert alert-danger" role="alert">
                            <%- messages.error %>
                        </div>
                        <% } %>

                        <% if (messages.success) { %>
                        <div class="alert alert-success" role="alert">
                            <%- messages.success %>
                        </div>
                        <% } %>
                        <form action="/authsiswa" method="POST">
                            <div class="form-login">
                                <div class="form-group">
                                    <input type="text" placeholder="ID Number" class="form-control input-login"
                                        name="id_siswa">
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password" placeholder="Password"
                                        class="form-control input-login">
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Log-In" class="btn btn-warning btn-login btn-block">
                                </div>
                                <div class="text-add">
                                    <span>Belum dapet id? </span><a href="#">Message Us</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-5">
                <div class="sidelogin">
                    <img src="assets/img/ha-w.png" class="img-hexa" alt="">
                </div>
            </div>
        </div>
    </div>

    <script src="assets/js/jquery-3.6.0.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/scripts.js"></script>
</body>

</html>